

<nav class="nav">
    <h1 class="nav__logo">Online<span>Shop</span></h1>
    <div class="nav__links">
        <a href="/products">Products</a>
        <a href="/admin/add-product">Add products</a> 
    </div>
    
</nav>