<link rel="stylesheet" href="/css/nav.css">
<%- include ("includes/head.ejs") %>
</head>
<body>
    <%- include ("includes/nav.ejs") %>
    <form action="/admin/add-product" method="post">

        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="price" name="price">

        <button type="submit">Add product</button>

    </form>
</body>
</html>