<%- include ("includes/head.ejs") %>
</head>
<body>
    <%- include ("includes/nav.ejs") %>
    <div>
        <h1><%= error.message%></h1>
        <a href="/products">Go back to shopping</a>
    </div>

</body>
</html>