.list {
    max-width: 480px;
    margin: auto;

}

.list__list{
    width: 100%;
    list-style-type: none; 
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.list__header{
    text-align: center;
}

.list__list-item{
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 4px 5px 10px -6px rgba(0,0,0,0.4);
}

.list__list-item h1{
    font-size: 1.2rem;
    color: #1599db;
    margin-bottom: 0.5rem;
}

.list__list-item h3{
    color: #333;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    
}

.list__list-item button, .list__list-item a{
    background-color: #1599db;
    border: none;
    box-shadow: 4px 5px 10px -6px rgba(0,0,0,0.4);
    border-radius: 5px;
    color: #eee;
    text-decoration: none;
    margin-top: 1rem;
    padding: 0.6rem 1.4rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    
}

.list__list-item button:hover, .list__list-item a:hover{
    background-color: #0a5a82;
    transition: 0.3s;  
}





